@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$gray-header: #161616;
$header-svg: #a3a3a3;
$red: #ff1e3c;
$body: #f2f2f2;
$green: #e9fbf3;
$gray: #a6a6a6;
$blue: #6cabdd;

@mixin userNavigation{
  position: fixed;
  background-color: $gray-header;
  height: 60vh;
  width: 100vw;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: $body;
}

.user-navigation{
  background-color: $gray-header;
  height: 2.5em;
  display: flex;
  justify-content: right;
  align-items: center;
  
  .profile, .help, .logo{
    z-index: 1021;
    
    svg{
      height: 1.2em;
      width: 2em;
      cursor: pointer;
      margin-right: 2.5em;
      fill: $header-svg;

      &:hover{
        fill: #fff;
      }
    }
    
    .activeSVG {
      fill: #fff;
    }
    
    .activeSVG + div {
      margin-top: 0;
      fill: #fff;
      z-index: 5;
    }
    
    .nonActiveSVG + div {
      margin-top: -68vh;
      z-index: 4;
    }
    
    .profile-info{
      @include userNavigation;
      margin-top: -68vh;
      transition: margin-top .4s linear;
      
      a{
        position: relative;
        display: flex;
        flex-direction: column;
        color: #fff;
        text-decoration: none;
        align-items: center;
        margin: 0 5em;
        
        &:hover{
          margin-bottom: 1em;
        }
        
        img{
          height: 2em;
          width: 2em;
          margin: 1em;
        } 
      }
    }
    
    .help-info{
      position: fixed;
      @include userNavigation;
      flex-direction: column;
      color: #fff;
      margin-top: -68vh;
      transition: margin-top .4s linear;
      
      .help-articles{
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 1em;
        
        a{
          display: flex;
          flex-direction: column;
          text-decoration: none;
          color: #fff;
          justify-content: center;
          align-items: center;
          margin: .5em 3em;
        
          &:hover{
            margin: 0 3em;
            margin-bottom: .5em;
          }
          
          img{
            height: 2em;
            width: 2em;
            margin-bottom: .5em;
          }
        }
      }
      
      a{
        text-decoration: none;
        color: $red;
      }
    }
  }
  
  .logo a{
    svg{
      height: 3em;
    }
  }
}

.navbar{
  height: 3.5em;
  background-color: #fff;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  
  #three-dots{
    display: flex;
    flex-direction: column;
    width: 1em;
    cursor: pointer;
    
    &:hover{
      div{
        height: 6px;
        width: 6px;
        background-color: $red;
      } 
    }
    
    div{
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: #000;
      transition: all .2s linear;
      
      &:nth-child(2){
        margin: .25em 0;
      }
    }
  }
  
  img{
    height: 2em;
    width: 10em;
  }
  
  #nav-items{
    height: 100%;
    display: flex;
    
    #item{
      display: flex;
      align-items: center;
      height: 116%;
      margin-top: -.1em;
      margin-left: 1em;
      cursor: pointer;
      transition: color .1s linear;
      
      &:hover{
        #nav-item-list{
          visibility: visible;
          
          li{
            max-height: 30vh;
          }
        }
      }
      span{
        font-weight: 500; 
      }
      
      span .bi{
        margin-left: .3em;
        transition: color .3s linear;
      }
      
      ul{
        position: absolute;
        top: 4em;
        margin-left: -2.5em;
        padding: .5em;
        border-radius: 3px;
        background-color: #fff;
        visibility: hidden;
        
        li{
          list-style: none;
          margin: 1em;
          font-weight: 300;
          max-height: 0;
          transition: max-height 1.2s linear;
          
          a{
            text-decoration: none;
            color: #000;
            
            &:hover{
              color: $red;
            }
          }
          
          strong{
            text-underline-offset: .3em;
            font-size: 1.125rem;
            font-weight: 500;
            text-decoration: underline;
            cursor: pointer;
            color: #000;

            &:hover{
              color: #000;
            }
          }
        }
      }
      
      &:hover{
        color: $red;
        
        .bi{
          color: $red;
        }
      }
    }
  }
  
  #menu{
    position: absolute;
    right: 0;
    visibility: hidden;
    span{
      align-items: center;
      cursor: pointer;
      i{
        margin: 0 2em 0 .5em;
        color: #000;
      }
    }
    
  }
}

#menu-bar{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1021;
  width: 30vw;
  padding: 1em 2em 2em 2em;
  background-color: #fff;
  overflow-y: scroll;
  bottom: 0;
  margin-right: -600px;
  transition: margin-right .4s linear;
  
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  /* Hide scrollbar for Chrome, Safari and Opera  */
  &::-webkit-scrollbar {
    display: none;
  }
  
  .menu-heading{
    display: flex;
    justify-content: space-between;
    margin: 0 -.4em;
    
    img{
      height: 2em;
      width: 10em;
    }
    
    i{
      font-size: 1.5rem;
      cursor: pointer;
      color: #000;
      
      &:hover{
        color: $red;
      }
    }
  }
  
  ul{
    margin: 0;
    padding: 0;
    background-color: #fff;
    
    li{
      list-style: none;
      padding: 1em 0;
      border-bottom: 1px solid #d9d9d9;

      a{
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        font-weight: 300;

        &:hover{
          color: $red;
        }
      }
    }
  }
}

#side-nav{
  position: fixed;
  top: 0;
  z-index: 1021;
  width: 30vw;
  padding: 2em;
  background-color: #fff;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  margin-left: -600px;
  margin-bottom: -3em;
  transition: margin-left .4s linear;
  
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  /* Hide scrollbar for Chrome, Safari and Opera  */
  &::-webkit-scrollbar {
    display: none;
  }

  .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a{
      text-decoration: none;
      color: $gray;
      font-weight: 500;
      font-size: 1.1rem;
      
      &:hover{
        color: $red;
      }
      
      p{
        margin: 0;
      }
    }
    
    i{
      font-size: 1.5rem;
      cursor: pointer;
      color: #000;
      
      &:hover{
        color: $red;
      }
    }
  }
  
  .ea-play{
    margin: 3em 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .background-img{
      width: 100%;
      height: 20em;
      cursor: pointer;
    }
    div{
      display: flex;
      align-items: center;
      height: 10em;
      
      #ea-logo{
        position: relative;
        cursor: pointer;
        bottom: 15em;
        height: 8em;
        width: 6em;
        transition: height .3s, width .3s linear;
      }
    }
  }
  
  ul{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.5em;
    margin: -5em 0;
    padding: 0;
    
    li{
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: -3em 0;
      
      .game{
        height: 10em;
        width: 100%;
        cursor: pointer;
        
        &:hover + .game-logo{
          .game-image{
            height: 7em;
            width: 6em;
          }
          .fifa-game{
            height: 6.5em;
            width: 5.5em;
          }
          .nfs-game{
            height: 3em;
            width: 6.5em;
          }
          .apex-game{
            height: 6.5em;
            width: 5.5em;
          }
          .sims-game{
            height: 2.5em;
            width: 5.5em;
          }
        }
      }
      
      .game-logo{
        height: 6em;
        display: flex;
        align-items: center;
        
        img{
          position: relative;
          bottom: 8em;
          height: 6em;
          width: 5em;
          transition: height .3s, width .3s linear;
          cursor: pointer;
          
          &:hover{
            height: 7em;
            width: 6em;
          }
        }
        .nfs-game{
          height: 2.5em;
          width: 6em;
          &:hover{
            height: 3em;
            width: 6.5em;
          }
        }
        .sims-game{
          height: 2em;
          &:hover{
            height: 2.5em;
            width: 5.5em;
          }
        }
        .fifa-game:hover{
          height: 6.5em;
          width: 5.5em;
        }
        .apex-game:hover{
          height: 6.5em;
          width: 5.5em;
        }
      }
    }
  }
}

main{
  
  .main-poster{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 2em 6em;
    background-color: $green;
    color: #000;
    height: auto;
    
    .fifa-22-info{
      width: 100%;
      padding: 2em;
      align-items: center;
      
      h1{
        font-size: 2.5rem;
      }
      p{
        font-size: 1.1rem;
        margin: .5em 0;
      }
      div{
        padding: .1em;
        width: 9.2em;
        
        button{
          border: 2px solid black;
          padding: .8em;
          border-radius: 3px;
          background-color: $green;

          a{
            text-decoration: none;
            color: #000;
          }
        }
        &:hover{
          border: 2px solid black;
          border-radius: 3px;
          
          button{
            border: none;
          }
        }
      }
    }
    
    .fifa-22-poster{
      
      img{
        height: 100%;
        width: 50vw;
      }
    }
  }
  
  .featured-games{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    
    h2{
      font-size: 2.5rem;
      margin-bottom: 1em;
    }
    
    ul{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 1em;
      margin-bottom: 2em;
      width: 70vw;
      
      li{
        list-style: none;
        position: relative;
        cursor: pointer;
        background-color: #595959;
        
        &:hover{
          img{
            opacity: .6;
          }
          div img{
            top: 35%;
          }
          div p, div img{
            opacity: 1;
          }
        }
        
        img{
          height: auto;
          width: 100%;
          opacity: .8;
        }
        
        div img{
          height: 6em;
          width: 9em;
          position: absolute;
          opacity: 1;
          top: 50%;
          left: 25%;
          transition: top .2s linear;
          
          &:nth-child(1){
            height: 4em;
          }
        }
        div p{
          position: absolute;
          top: 60%;
          left: 35%;
          margin-top: 1em;
          color: #fff;
          opacity: 0;
          transition: opacity .2s linear;
        }
      }
      
      .apex{
        div img{
          transition: none;
        }
      }
    }
    
    .latest-games{
      display: flex;
      margin: auto;
      padding: .1em;
      width: 9em;

      button{
        border: 2px solid black;
        padding: .8em;
        border-radius: 3px;

        a{
          text-decoration: none;
          color: #000;
          font-weight: 400;
        }
      }
      &:hover{
        border: 2px solid black;
        border-radius: 3px;

        button{
          border: none;
        }
      }
    }
  }
  
  .latest-updates{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    
    h2{
      font-size: 2.5rem;
      margin-bottom: .5em;
    }
    
    /* ul */
    .categories{
      display: flex;
      justify-content: center;
      border-bottom: 2px solid rgba(0, 0, 0, 0.08);
      width: 100%;
      overflow: auto;
      white-space: nowrap;
      margin-bottom: 0;
      padding: 0 1em;
      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
      
      li{
        list-style: none;
        padding: 1em 0;
        &:nth-child(1){
          background-color: #cccccc;
          border-bottom: 2px solid $red;
        }
        &:hover{
          background-color: #cccccc;
        }
        a{
          text-decoration: none;
          color: #000;
          padding: 0 1em;
          border-right: 1px solid #999999;
        }
      }
    }
    
    .articles{
    
      ul{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        grid-gap: 1.2em;
        margin: 2em auto;
        width: 70vw;

        li{
          list-style: none;
          height: auto;
          width: 100%;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          cursor: pointer;
          position: relative;
          bottom: 0;
          transition: bottom .3s linear, box-shadow .3s linear;
          
          &:hover{
            bottom: .5em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          }
          
          img{
            width: 100%;
          }
          
          section{
            padding: 1em;
            
            div{
              span{
                color: $red;
                margin-right: 1em;
                font-size: .9rem;
              }
              strong{
                font-size: .9rem;
              }
            }
            h2{
              font-size: 1.4rem;
              margin: .5em 0;
            }
            p{
              margin: 0;
            }
          }
        }
      }
      
      .read-more{
        display: flex;
        margin: auto;
        padding: .1em;
        width: 7.5em;

        button{
          border: 2px solid black;
          padding: .8em;
          border-radius: 3px;

          a{
            text-decoration: none;
            color: #000;
            font-weight: 400;
          }
        }
        &:hover{
          border: 2px solid black;
          border-radius: 3px;

          button{
            border: none;
          }
        }
      }
    }
  }
  
  .ea-play{
    margin-top: 2em;
    width: 100%;
    
    .bg-img{
      height: 30em;
      width: 100%;
      filter: brightness(.5);
    }
    
    .ea-play-info{
      position: relative;
      margin-top: -28em;
      padding: 0 2em;
      
      img{
        height: 10em;
        width: 15em;
      }
      
      p{
        color: #fff;
        position: relative;
        bottom: 2em;
        width: 50vw;
      }
      
      .join-now{
        position: relative;
        bottom: 2em;
        padding: .1em;
        width: 6.8em;

        button{
          border: 2px solid #fff;
          background-color: transparent;
          padding: .8em;
          border-radius: 3px;

          a{
            text-decoration: none;
            color: #fff;
            font-weight: 400;
          }
        }
        &:hover{
          border: 2px solid #fff;
          border-radius: 3px;

          button{
            border: none;
          }
        }
      }
    }
    .parental-control{
      background-color: $blue;
      padding: 1.5em;
      height: auto;
      
      div{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      h2{
        margin: 0;
        font-size: 1.5rem;
      }
      
      .learn-more{
        padding: .1em;
        width: 7em;

        button{
          border: 2px solid #000;
          background-color: transparent;
          padding: .5em;
          border-radius: 3px;

          a{
            text-decoration: none;
            color: #000;
            font-weight: 400;
          }
        }
        &:hover{
          border: 2px solid #000;
          border-radius: 3px;

          button{
            border: none;
          }
        }
      }
    }
  }
}

footer{
  margin-top: 10.4em;
  
  .footer1{
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0 2em 0;
    
    ul{
    display: flex;
    padding: 0;
    
      li{
        list-style: none;

        a{
          text-decoration: none;
          margin: 0;
          margin-right: 1.5em;
          color: #000;
          &:hover{
            color: $red;
          }
        }
      }
    }
    
    .social-handles{
      display: flex;
      flex-direction: column;
      
      p{
        font-size: .9rem;
        margin: 0;
      }
      
      .social-links{
        margin: .5em 0;
        
        ul{
          display: flex;
          padding: 0;
          margin: 0;
          
          li{
            width: 2em;
            height: 2em;
            display: flex;
            align-items: center;
            margin-right: 1em;
            
            a{
              
              .bi{
                font-size: 1.5em;
                transition: font-size .2s linear;
                
                &:hover{
                  font-size: 2em;
                }
              }
              &:hover{
                color: #000;
              }
            }
          }
        }
      }
    }
  }
  
  .footer2{
    
    div{
      display: flex;
      align-items: center;
    }
    
    img{
      height: 3em;
      width: 3em;
      margin-right: 2em;
      cursor: pointer;
    }
    
    ul{
      display: flex;
      margin: 0;
      padding: 2.5em 0;
      align-items: center;
      
      li{
        list-style: none;
        margin-right: 1.5em;
        
        a{
          text-decoration: none;
          color: #000;
          font-weight: 500;
          
          &:hover{
            color: $red;
          }
        }
      }
    }
  }
}

@media (min-width: 1100px) and (max-width:1350px){
  #side-nav{
    width: 40vw;
  }
}

@media (max-width: 1100px){
  #side-nav{
    width: 50vw;
  }
  main{
    .featured-games{
      ul{
        grid-template-columns: auto auto;
        grid-gap: 2em;
      }
    }
    .latest-updates{
      .articles{
        ul{
          grid-template-columns: auto auto;
          grid-gap: 2em;
        }
      }
    }
    .ea-play{
      .ea-play-info{
        margin-top: -29em;
      }
    }
  }
  footer{
    .footer1{
      margin-top: -1.2em;
    }
  }
}

@media (max-width: 1000px){
  .user-navigation{
    .profile, .help{
      .profile-info{
        a{
          flex-direction: row;
        }
      }
      .help-info{
        .help-articles a{
          display: grid;
          grid-template-columns: auto auto;
          justify-content: start;
          margin: 1em 3em;
          img{
            margin: 0;
            margin-right: 1em;
          }
        }
      }
    }
  }
  
  main{
    .main-poster{
      display: flex;
      flex-direction: column-reverse;
      padding: 2em;
      .fifa-22-info {
        width: 80vw;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
      }
      .fifa-22-poster img {
        height: 100%;
        width: 80vw;
      }
    }
    
    .latest-updates{
      .articles{
        ul{
          width: 90vw;
          li{
          }
        }
      }
    }
    
    .ea-play .ea-play-info{
      img {
        height: 9em;
        width: 12em;
      }
    } 
  }
  
  footer{
    .footer1{
      ul{
        margin: auto;
        margin-bottom: 1em;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 1em;
        justify-content: start;
      }
    }
  }
}

@media (max-width: 900px){
  .navbar{
    #nav-items{
      display: none;
    }
    #menu{
      visibility: visible;
    }
  }
}

@media (max-width: 800px){
  #side-nav, #menu-bar{
    width: 60vw;
  }
  main .featured-games{
    ul{
      width: 90vw;
    }
  }
  
  main .latest-updates{
    .categories{
      justify-content: flex-start;
    }
  }
  
  main .ea-play{
    .ea-play-info{
      margin-top: -32em;
      p{
        width: 100%;
      }
    }
    .parental-control{
      text-align: center;
      div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
          margin-bottom: 1em;
        }
      }
    }
  }
  
  footer{
    .footer1{
      ul{
        grid-template-columns: auto auto;
      }
    }
    .footer2{
      div{
        align-items: normal;
        flex-direction: column;
        padding: 1.5em 1em;
        ul{
          padding: 1em 0;
          display: grid;
          grid-template-columns: auto auto auto auto;
          justify-content: start;
          grid-gap: 1em;
        }
      }
    }
  }
}

@media (max-width: 700px){
  main{
    .featured-games{
      h2{
        font-size: 2.1rem;
      }
      ul{
        width: 90vw;
        grid-template-columns: auto;
        margin: 0;
        padding: 0;
        
        .apex{
          display: none;
        }
        
        li{
          div{
           img{
            left: none;
            height: auto;
            width: 50%;
            }
            p{
              font-size: 1.2rem;
            }
          }
        }
      }
      .latest-games{
        margin-top: 2em;
      }
    }
    .latest-updates{
      .articles{
        ul{
          grid-template-columns: auto;
          grid-gap: 1em;
          width: 70vw;
          padding: 0;
          text-align: center;
          li{
            &:hover{
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            img{
              display: none;
            }
            section{
              div{
                display: flex;
                flex-direction: column;
                span{
                  margin: 0;
                }
              }
              p{
                display: none;
              }
            }
          }
        }
      }
      h2{
        font-size: 2.1rem;
      }
    }
    .ea-play{
      .parental-control{
        h2{
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 650px){
  .user-navigation{
    .profile, .help, .logo{
      svg{
        &:hover{
          fill: #a3a3a3;
        }
      }
      .profile-info{
        flex-direction: column;
        align-items: center;
        
        a{
          width: 12em;
          margin: 0;
          &:hover{
            margin: 0;
          }
        }
      }
      .help-info{
        p{
          text-align: center;
        }
        .help-articles{
          display: grid;
          grid-template-columns: auto;
          justify-content: start;
          margin: .7em 0;
          
          a{
            flex-direction: row;
            margin: .5em;
            &:hover{
              margin: .5em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px){
  main{
    .main-poster{
      .fifa-22-info{
        img{
          height: auto;
          width: 60%;
        }
        h1{
          font-size: 2.1rem;
        }
        p{
          font-size: 1rem;
          text-align: center;
          padding: 0 1em;
          margin: .5em 0;
        }
      }
    }
    .latest-updates{
      .articles{
        ul{
          margin-top: 0;
          li article section{
            grid-template-columns: auto;

            h2{
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .ea-play{
      .parental-control{
        h2{
          font-size: 1.4rem;
        }
      }
      .ea-play-info{
        margin-top: -33em;
        padding: 0 1em;
      }
    }
  }
}

@media (max-width: 550px){
  #side-nav, #menu-bar{
    width: 100vw;
  }
  main{
    .ea-play{
      .ea-play-info{
        p{
          font-size: .9rem;
        }
      }
      .parental-control{
        h2{
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: 500px){
  main{
    .featured-games, .latest-updates{
      h2{
        font-size: 1.8rem;
      }
    }
    
    .latest-updates .categories li{
      padding: 1em 0;
      a{
        padding: 0 .5em;
      }
    }
    
    .latest-updates .articles{
      width: 100vw;
      margin: 2em 0;
      ul li section{
        width: 80vw;
      }
    }
    
    .ea-play{
      .parental-control{
        h2{
          font-size: 1.2rem;
        }
      }
    }
  }
  
  footer{
    .footer2{
      div{
        ul{
          grid-template-columns: auto auto auto;
        }
      }
    }
  }
}

@media (max-width: 450px){
  .user-navigation{
    .profile, .help{
      .help-info{
        p{
          margin: 0;
        }
        .help-articles{
          a{
            flex-direction: row;
          }
        }
      }
    }
  }
  
  main{
    .main-poster{
      .fifa-22-info{
        width: 100vw;
        padding: 2em 0 0 0;
        h1{
          font-size: 1.8rem;
        }
      }
    }
    
    .ea-play{
      .parental-control{
        h2{
          font-size: 1.1rem;
        }
      }
      .ea-play-info{
        margin-top: -32.5em;
      }
    }
  }
  
  footer{
    .footer1{
      ul{
        grid-gap: 1em 0;
      }
    }
  }
}

@media (max-width: 400px){
  footer{
    .footer1{
      ul{
        grid-template-columns: auto;
      }
    }
    .footer2{
      div{
        ul{
          grid-template-columns: auto auto;
          grid-gap: .5em;
        }
      }
    }
  }
}

@media (max-width: 350px){
  main .featured-games, .latest-updates{
    h2{
      font-size: 1rem;
    }
  }
}

// Footer Margin-top ->

@media(min-width: 1080px) and (max-width: 1100px){
  footer{
    margin-top: 12.5em;
  }
}

@media(min-width: 1000px) and (max-width: 1080px){
  footer{
    margin-top: 11.1em;
  }
}

@media(min-width: 800px) and (max-width: 1000px){
  footer{
    margin-top: 12em;
  }
}

@media(min-width: 620px) and (max-width: 800px){
  footer{
    margin-top: 16.5em;
  }
}

@media(min-width: 600px) and (max-width: 620px){
  footer{
    margin-top: 15em;
  }
}

@media(min-width: 550px) and (max-width: 600px){
  footer{
    margin-top: 16.2em;
  }
}

@media(min-width: 535px) and (max-width: 550px){
  footer{
    margin-top: 18em;
  }
}

@media(min-width: 450px) and (max-width: 535px){
  footer{
    margin-top: 16.5em;
  }
}

@media(min-width: 370px) and (max-width: 450px){
  footer{
    margin-top: 15.5em;
  }
}

@media(min-width: 360px) and (max-width: 365px){
  footer{
    margin-top: 15em;
  }
}

@media(min-width: 300px) and (max-width: 360px){
  footer{
    margin-top: 15em;
  }
}